.counter{
    
    padding: 20px;
    align-items: center;
    background-color: blue;
}
.box{
    
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}
.samp{
    display: grid;
    background-color: aqua;
    padding: 20px;
    align-items: center;
}
.new{
    display: grid;
    padding: 20px;
    text-align: center;
    align-items: center;
}